#banner-row {
    background-color: rgba(0, 0, 0, 0.834);
    height: 300px;
    text-align: center;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 8em;
    color: rgb(222, 141, 0);
}
h2 {
    color: rgb(0, 216, 61);
    padding: 0;
}